<!-- start custom footer snippets -->
<script src="https://silly.possiblyaxolotl.com/ring/webstring.js"></script>
<div style="width:104px">
  <a href="//mr.jhorn.net/index.php"><img src="//mr.jhorn.net/assets/button.gif"></a>
  <a href="//mr.jhorn.net/prev.php?slug=cryo">prev</a>
  <a href="//mr.jhorn.net/rand.php">rand</a>
  <a href="//mr.jhorn.net/next.php?slug=cryo">next</a>
</div>
<!-- 
<a href='https://webring.dinhe.net/prev/cryotato.github.io'>Previous</a>
<a href='https://webring.dinhe.net/next/cryotato.github.io'>Next</a> -->

<script src="https://transring.neocities.org/ring.js" data-widget="cloud"></script>
<!-- end custom footer snippets -->