body,
.gsc-comment-box,
.gsc-comment-box * {
  font-family: monospace !important;
}
.gsc-comment-box-textarea {
  font-family: monospace !important;
}
.gsc-comment-box button {
   font-family: monospace !important;
}